html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  main::after {
    clear: both;
    content: "";
    display: table; }

header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  header:last-child {
    margin-right: 0; }
  header .social {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 51.17883%; }
    header .social:last-child {
      margin-right: 0; }
  header .subscribe {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%;
    text-decoration: none;
    color: black;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    padding-top: 2.1em; }
    header .subscribe:last-child {
      margin-right: 0; }
  header .icons {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 65.05695%;
    font-size: 4.5em; }
    header .icons:last-child {
      margin-right: 0; }
    header .icons .fa-facebook-square {
      color: #3A5795; }
    header .icons .fa-rss-square {
      color: #FF9900; }
    header .icons .fa-twitter-square {
      color: #55A8EC; }
    header .icons .fa-youtube-square {
      color: #E62117; }
  header .links {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    list-style-type: none;
    text-transform: uppercase; }
    header .links:last-child {
      margin-right: 0; }
    header .links .nav li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      color: white;
      background-color: #B4292E;
      text-align: center;
      font-size: 1.2em;
      padding-top: 8px;
      padding-bottom: 8px; }
      header .links .nav li:last-child {
        margin-right: 0; }

.hero {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding-top: 16px; }
  .hero:last-child {
    margin-right: 0; }
  .hero .photographer {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background-image: url(../assets/top-image.png);
    background-position-x: -65px;
    background-position-y: -154px;
    position: relative;
    border: 3px solid white; }
    .hero .photographer:last-child {
      margin-right: 0; }
    .hero .photographer .grid {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      background-image: url(../assets/grid.png);
      opacity: 0.4;
      position: absolute;
      height: 100%; }
      .hero .photographer .grid:last-child {
        margin-right: 0; }
    .hero .photographer img {
      margin: 36px;
      position: relative; }

.buttons {
  text-align: center; }

.writeup {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 14px; }
  .writeup:last-child {
    margin-right: 0; }
  .writeup .featured {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px; }
    .writeup .featured:last-child {
      margin-right: 0; }
    .writeup .featured h1 {
      font-size: 24px;
      color: #000;
      font-weight: normal;
      margin-bottom: 0; }
    .writeup .featured time {
      color: #CACACA;
      font-size: 14px;
      line-height: 60px; }
    .writeup .featured p {
      color: #6C6C6C;
      line-height: 18px;
      font-size: 12px; }
    .writeup .featured footer {
      text-decoration: none;
      text-transform: uppercase;
      text-align: center; }
      .writeup .featured footer a {
        text-decoration: none;
        color: #B02824;
        font-size: 14px;
        font-weight: bold; }

.pictures {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .pictures:last-child {
    margin-right: 0; }
  .pictures .skaters {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .pictures .skaters:last-child {
      margin-right: 0; }
    .pictures .skaters .sk8er-4 {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 48.21067%;
      background-image: url(../assets/sk8er-4.png);
      padding-top: 96px;
      padding-bottom: 70px;
      font-size: 28px;
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      background-repeat: no-repeat;
      background-position-x: -115px;
      background-position-y: -6px;
      margin-top: 28px;
      border: 4px solid #fff; }
      .pictures .skaters .sk8er-4:last-child {
        margin-right: 0; }
    .pictures .skaters .sk8er-3 {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 48.21067%;
      margin-right: 0;
      background-image: url(../assets/sk8er-3.png);
      padding-top: 96px;
      padding-bottom: 70px;
      font-size: 28px;
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      background-repeat: no-repeat;
      background-position-x: -8px;
      background-position-y: -6px;
      margin-top: 28px;
      border: 4px solid #fff; }
      .pictures .skaters .sk8er-3:last-child {
        margin-right: 0; }
    .pictures .skaters .sk8er-1 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      background-image: url(../assets/sk8er-1.png);
      width: 100%;
      padding-top: 132px;
      padding-bottom: 88px;
      font-size: 28px;
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      background-repeat: no-repeat;
      background-size: 28em 15em;
      background-position: 0em -3em;
      margin-top: 28px;
      border: 4px solid #fff; }
      .pictures .skaters .sk8er-1:last-child {
        margin-right: 0; }
  .pictures .sk8er-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    background-image: url(../assets/sk8er-2.png);
    font-size: 28px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-repeat: no-repeat;
    padding-top: 255px;
    padding-bottom: 232px;
    background-size: cover;
    background-position-x: -478px;
    margin-top: 28px;
    border: 4px solid #fff; }
    .pictures .sk8er-2:last-child {
      margin-right: 0; }

.skateboards {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #ffffff;
  margin-top: 30px;
  padding: 10px 0 10px 0; }
  .skateboards:last-child {
    margin-right: 0; }
  .skateboards img {
    margin-left: 39px; }
    .skateboards img:hover {
      transform: rotate(180deg);
      transform-origin: center;
      transition: transform 1s ease, border 1s ease; }

footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #fff;
  margin-top: 30px;
  padding-left: 44px;
  padding-top: 20px; }
  footer:last-child {
    margin-right: 0; }
  footer h1 {
    font-size: 24px;
    color: #353533;
    font-weight: normal; }
  footer p {
    line-height: 26px;
    padding-right: 45px;
    color: #717171; }
  footer footer {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    footer footer:last-child {
      margin-right: 0; }
  footer .information {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    footer .information:last-child {
      margin-right: 0; }
  footer .socials {
    font-size: 24px; }
    footer .socials .fa-facebook {
      color: #9C9C9C;
      background-color: #4F4F4F;
      width: 30px;
      height: 30px;
      text-align: center;
      padding-top: 4px; }
      footer .socials .fa-facebook:hover {
        cursor: pointer;
        -webkit-transition: background-color 0.7s ease-out;
        -moz-transition: background-color 0.7s ease-out;
        -o-transition: background-color 0.7s ease-out;
        transition: background-color 0.7s ease-out;
        background-color: #415E9B; }
    footer .socials .fa-rss {
      color: #9C9C9C;
      background-color: #AFAFAF;
      width: 30px;
      height: 30px;
      text-align: center;
      padding-top: 4px; }
      footer .socials .fa-rss:hover {
        cursor: pointer;
        -webkit-transition: background-color 0.7s ease-out;
        -moz-transition: background-color 0.7s ease-out;
        -o-transition: background-color 0.7s ease-out;
        transition: background-color 0.7s ease-out;
        background-color: #FB7629; }
    footer .socials .fa-twitter {
      color: #9C9C9C;
      background-color: #7B7B7B;
      width: 30px;
      height: 30px;
      text-align: center;
      padding-top: 3px; }
      footer .socials .fa-twitter:hover {
        cursor: pointer;
        -webkit-transition: background-color 0.7s ease-out;
        -moz-transition: background-color 0.7s ease-out;
        -o-transition: background-color 0.7s ease-out;
        transition: background-color 0.7s ease-out;
        background-color: #3E8DC8; }
    footer .socials .fa-youtube {
      color: #9C9C9C;
      background-color: #757575;
      width: 30px;
      height: 30px;
      text-align: center;
      padding-top: 2.5px; }
      footer .socials .fa-youtube:hover {
        cursor: pointer;
        -webkit-transition: background-color 0.7s ease-out;
        -moz-transition: background-color 0.7s ease-out;
        -o-transition: background-color 0.7s ease-out;
        transition: background-color 0.7s ease-out;
        background-color: #BC181B; }

.form {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-top: 20px; }
  .form:last-child {
    margin-right: 0; }
  .form input {
    width: 487px;
    display: block;
    margin-left: -6px;
    height: 32px;
    font-size: 13px;
    padding-left: 30px;
    margin-bottom: 5px; }
  .form textarea {
    width: 487px;
    display: block;
    margin-left: -6px;
    height: 94px;
    font-size: 13px;
    padding-left: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #A9A9A9;
    border-color: #BFBFBF;
    height: 30px;
    outline: none;
    overflow: hidden;
    resize: none;
    padding-bottom: 104px;
    padding-top: 10px; }
  .form #submit {
    background-color: #B4292E;
    width: 200px;
    margin: 40px 0 40px 281px;
    text-align: center;
    padding-left: 13px;
    text-transform: uppercase;
    border: none;
    color: #fff; }
